body{
  font-family: Helvetica, sans-sereif; /*define a fonte de todo HTML */
  background-image: url('../imagens/bg.jpg'); /*Define a imagem de fundo */
  background-size: cover; /*define  */
  background-repeat: no-repeat; /*define que a imagem nao vai repedir no fundo */
  height: 100%; /*define que ela vai ocupar a tela toda */
}

#corpo{
	margin: auto; /* define a margem automatica */
}

#navbar{
	background: #00bfff; /* cor de fundo do menu principal */
  display: flex; 
  position: fixed; /* o menu principal ficar fixo */
  width: 100%;
} 

hr {/* definindo a linha que divide os conteudos */
  color: rgb(35, 35, 35); 
  background-color: rgb(35, 35, 35);
  height: 1px;
  border: none;
}

header div{
	list-style: none; 
	padding: none;
	overflow: hidden; /* tudo que passa do div fica oculto */ 
	margin: 0px 0px;
	background-color: #333;  /* cor de fundo */
	margin-right: 0px;
}

header li{
	display: inline; /* coloca cada "link" um ao lado do outro no menu principal */	 
}
header  li a { /* definindo as palavras do manu principal */
  color: white; /*cor */
  padding: 30px 16px 30px 16px; /*distancia */
  text-decoration: none;
  margin: 0px 40px 0px 0px /* margin */
}

header li a:hover{ /* definando oq acontece quando passamos o mouse nos "links" do menu principal */
	text-decoration:none;
	background: #87cefa; /* muda pra essa cor */
}

* {
  box-sizing: border-box;
}

#titulo {
  color: rgb(35, 35, 35); /* cor */
  margin-right: 5.5em; /* margin */ 

}

.column {
  float: left;
  padding: 15px;
}

.conteudo {
  width: 55%; /* tamando*/
  background: rgba(135, 206, 235, 0.9); /* cor de fundo e a transparencia "0.9" */
  color: rgb(35, 35, 35); /*cor das palavras */ 
  margin-top: 65px; /* distancia do top */
  margin-right: 20%; /* distancia da lateral */
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 
  float: right; /* posição na direita */
}

.artigo > p {

}

.artigo > img {	
	float: left;
  margin-right: 5px; /*define que a distancia da imagem e do texto */
}

.footer { /* Rodapé*/
  background-color: #111; /*Cor fundo do rodapé*/
  color: white; /* Cor das pelavras*/
  padding: 2px; /*Distancia da margem do palavra ate a linha do rodapé */
  bottom:0;
  width:100%; /* Fazer a largura do rodape preencher o tamanho da tela toda */
  position: fixed;
}